@charset "utf-8";
@import "./reset.css";

body {
    margin: 0;
    background-color: #071126;
    color: white;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    text-align: center;
}

svg {
    cursor: pointer;
}